<!DOCTYPE html>
<html>
<head>
  <title>Ripe Tomatoes</title>
  <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
<div class="Nav">
  <div class="nav-left">
    <a id="refreshButton" class="logo" href="#"><strong>RIPE TOMATOES</strong></a>
  </div>

  <div class="nav-center">
    <form role="search" id="form" class="search-form">
      <input type="search" id="query" placeholder="Search Movies..." />
    </form>
  </div>

  <div class="nav-right">
    <form action="/logout" method="GET">
      <button type="submit" class="button logout-btn">Logout</button>
    </form>
  </div>
</div>

  <section id="section"></section>
  <button id="toggleMode" class="mode-toggle">🌙 Dark Mode</button>
  <footer>
    <h4>Ripe Tomatoes &copy; 2025</h4>
  </footer>
  <script src="/js/script.js"></script>
</body>
</html>
